body {
    background-color: #aca9a9;
    margin: 0;
    padding: 0;
}


nav {
    width: 960px;
    margin: 0 auto;
}

nav::before {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    /* background: white; */
    position: absolute;
    left: 0;
    z-index: -1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}

ul li {
    float: left;
}

ul li a {
    color: #626262;
    display: block;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

ul li a:hover {
    background: #b31d0d65;
}

/*section 1*/

.img-greit {
    background: url(./image/image.jpg) center;
    width: auto;
    height: 510px;
    background-size: contain;
    background-repeat: no-repeat;
}

.block-one {
    margin: auto;
}

.text {
    width: 900px;
    box-sizing: border-box;
    text-align: left;
}

.block {
    padding-top: 130px;
    padding-left: 480px;
}

.info-block {
    display: inline-block;
    /* width: calc((55%/2) - 10px); */
    box-sizing: border-box;
    padding: 0 20px;
    height: 300px;
    /* overflow: scroll; */
}

.info {
    width: 414px;
    height: 63px;
}

.sing {
    padding-top: 75px;
    text-align: center;
}

form {
    margin: auto;
    display: table;
}

input {
    float: left;
    font-size: 16px;
    border: 1px solid #fff;
}

input[type=email] {
    padding: 12px;
    background: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input[type=submit] {
    padding: 12px 24px;
    color: #fff;
    background: transparent;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    transition: all .235s ease-in-out;
}

.clicK {
	padding-top: 60px;
    padding-left: 840px;
    padding-bottom: 45px;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.load {
    width: 164px;
    height: 50px;
    border: 1px solid #7d7a7c;
}